[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
tqdm = "*"
gym = "*"
casadi = "*"
pytz = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
